%li.nav-item
  %a.js-scroll-trigger{:href => :locations} Locations

%li.nav-item
  %a.js-scroll-trigger{:href => :pets} Pets

%li.nav-item
  %a.js-scroll-trigger{:href => :pet_categories} Categories

%li.nav-item
  %a.js-scroll-trigger{:href => :pet_breeds} Breeds
  
