%li.sidebar-brand
  %a.js-scroll-trigger{:href => "#page-top"} Pet Shop

%li.sidebar-nav-item
  %a.js-scroll-trigger{:href => :locations} Locations

%li.sidebar-nav-item
  %a.js-scroll-trigger{:href => :pets} Pets

%li.sidebar-nav-item
  %a.js-scroll-trigger{:href => :pet_categories} Categories

%li.sidebar-nav-item
  %a.js-scroll-trigger{:href => :pet_breeds} Breeds
  
= render 'layouts/login'